<section class="experience js-scroll">
  <div class="inner-center">
    <div class="section-description">
      <small>Where I've Worked</small>
      <h2 id="experience">Professional Experience</h2>
      <p>
        I would like to give thanks to the companies I have worked at which have
        helped me grow so much. Here are a few companies I have had the pleasure
        to work at.
      </p>
    </div>
    <div class="companies-container">
      <ul class="companies-controller">
        <li><button class="js-company-button">Amazon</button></li>
        <li><button class="js-company-button">CBU</button></li>
      </ul>
      <div class="company-displayer">
        <div class="company-card" id="amazon">
          <div class="text-content">
            <div class="job-title">
              Software Development Engineer Intern
              <a href="https://amazon.com/" target="_blank">@ Amazon</a>
            </div>
            <div class="date">Jun 2023 - Present</div>
            <ul>
              <li>
                Interned at a big tech company on the AWS Lambda team at age 17
                🥳
              </li>
              <li>
                Spearheaded Java / AWS tool development for Lambda team,
                identifying performance issues for 100K+ users.
              </li>
              <li>
                Actively participated in Agile development process leading to
                refining project 3x and boosting effectiveness.
              </li>
              <li>
                Achieved 99% code coverage via rigorous JUnit/Lombok/Mockito
                testing showcasing my commitment to deploying quality products.
              </li>
              <li>
                Mastery of AWS Lambda/IAM amplified tool impact, showcasing
                outcomes.
              </li>
            </ul>
          </div>
        </div>
        <div class="company-card" id="cbu">
          <div class="text-content">
            <div class="job-title">
              Audio Visual Technician
              <a href="https://calbaptist.edu/" target="_blank"
                >@ California Baptist University</a
              >
            </div>
            <div class="date">Jun 2022 - Jun 2023</div>
            <ul>
              <li>
                Maintained and repaired audiovisual equipment such as
                projectors, audio systems, and computer hardware connections in
                classrooms and conference rooms.
              </li>
              <li>
                Provided technical support to instructors and students during
                class sessions.
              </li>
              <li>
                Ensured all equipment was in good working condition before each
                class and addressed any issues that arose during the class.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
